{% extends "base.html" %}

{% block title%} Login {% endblock %}

{% block content %}

<div class="row">
    {% include "inc/_messages.html" %}
    <div class="col-md-4 mt-5 p-3 rounded mx-auto" style="background-color: #CEAB93">
        <h2 class="my-4" style="color: #F9F2ED">Login</h2>
        <form action="" method="post" style="color: #F9F2ED">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn col-md-12" style="background-color: #AD8B73; color: #F9F2ED">Login</button>
        </form>
    </div>
</div>
{% endblock %}